.container{
    width: 100%;
    max-height: 48px;
    display: flex;
    flex-direction: row;
    background-color: #312F28;
    margin:8px;
    border-radius: 4px;
    gap:16px;
    align-items: center;
    padding: 16px 12px;
}

.player{
    width: min(32px,2.4vw);
    height:min(36px,2.8vw);
}

.select{
    margin-left: 48px;
    width: min(24px,2.4vw);
    height:min(24px,2.8vw);
}

.rank{
    font-size: min(18px,2vw);
    font-weight: 900;
    color: #606060;
}

.name{
    font-size: min(16px,1.5vw);
    font-weight: 500;
}

.points{
    margin-left: auto;
    font-size: min(16px,1.5vw);
    font-weight: 500;
}