.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    align-items: center;
}

.icon {
    width: 72px;
    height: 72px;
}

.infoGrid {
    margin-top:16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
}

.heading{
    font-size: 14px;
    color: #606060;
    font-weight: 700;
}

.bodyText{
    font-size: 16px;
    font-weight: 800;
}




.star{
    width:10px;
    height: 10px;
}


.box{
    margin-top: 16px;
    border-radius: 8px;
    background-color: #25272e;
    width: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


.button {
    border-radius: 4px;
    background-color: #5E5CE3;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    width: 200px;
    cursor: pointer;
    margin: 16px;
    font-weight: 500;
  }



